*
  box-sizing: border-box
  &:focus
    outline: none
html, body, div
  margin: 0
  padding: 0
li
  list-style-type: none
a
  text-decoration: none
.primary
  color: #1890ff
.error
  color: #f5222d;
.warning
  color: #faad14;
.success
  color: #52c41a;
textarea
  width: 100%
  border: none
  font-size: 16px
  letter-spacing: 1px
html
  font-family: 'Noto Serif SC', serif
  select
    display: inline-block
    position relative
    margin: 0 8px 10px 0
    width: 120px
    height: 32px
    font-size: 14px
    line-height: 1.5
    background-color: transparent
    option
      position: absolute
      z-index: 10
      top: 32px
  .header
    position: absolute
    top: 0
    left: 0
    z-index: 9
    width: 100%
    background: linear-gradient(to right, #151b26 0%, #5c3196 45%, #ff5263 100%)
    .title
      margin: 12px 20px
      font-size: 24px
      color: #fff
      cursor pointer
    .floatRight
      position: absolute
      top: 13.5px
      right: 8px
      .label
        margin-right: 8px
        color: #fff
      #selectCss
        color: #fff
        border-color: #fff
  .wrapper
    padding-top: 59px
    display: flex
    flex-direction: row
    height: 100vh
    overflow hidden
    background-color: #f6f8f9
    .side
      order: 1
      flex: 1
      margin: 0
      padding: 1em
      padding-bottom: 0.5em
      overflow-y: scroll
      text-align: center
      background-color: #151b26
      .title
        padding-bottom: 12px
        color: #fff
        border-bottom: 1px solid #222b37
      .btn
        margin-bottom: 8px
        padding: 6px 0
        border-radius: 8px
        background: linear-gradient(to top right, #ff5263 0%, #ff7381 35%, #fcbd01 100%)
        color: #fff
        cursor pointer
      .editBtn
        background: linear-gradient(to right, #796eff 0%, #ff5263 100%)
      nav
        margin-bottom: 2rem
        letter-spacing: 1px
        .sideLink
          display: block
          padding: 0.5em
          border-top: 0
          color: #d5dce0
          &:hover
            cursor pointer
        .active
          color: #f17e7e
    .description
      order: 3
      flex: 2
      margin: 15px 15px 10px 7.5px
      background-color: #f6f8f9
      overflow-y: scroll
      .info
        margin-bottom: 15px
        background-color: #fff
        box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
        .info-title
          padding: 12px 8px 12px 24px
          border-bottom: 1px solid #e3e5ea
        .info-content
          padding 16px
          font-size 14px
          color #707070
      #commenting
        display: none
      .comment
        margin-bottom: 15px
        background-color: #fff
        box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
        .comment-title
          position relative
          max-width: 220px
          padding: 6px 8px 6px 24px
          white-space: nowrap
          overflow hidden
          text-overflow: ellipsis
          color: #929aab
          &:before
            content: ''
            position: absolute
            top: 0
            left: 4px
            width: 3px
            height: 100%
            background: linear-gradient(to bottom, #796eff 0%, #ff5263 100%)
        .comment-content
          position relative
          padding: 8px 8px 0 8px
          #selectType
            width: 100%
            color: #707070
            border-color: #707070
          .reply
            position relative
          .comment-author
            margin-bottom: 4px
            font-size: 12px
            color: #707070
          .comment-time
            position: absolute
            top: 8px
            right: 8px
            font-size: 12px
            color: #707070
        .comment-operate
          padding: 0 8px 8px 8px
          text-align: right
          .linkBtn
            margin-left: 8px
            cursor pointer
          .textareaReply
            margin-bottom: 4px
    .content
      position relative
      order: 2
      flex: 7
      margin: 15px 7.5px 10px 15px
      padding: 2em
      padding-bottom: 0.5em
      overflow: scroll
      background-color: #fff
      box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
      p
        text-indent: 20px
      pre
        margin: 0
      code
        display: block
        margin-bottom: 20px
        padding: 15px
        font-size: 13px
        word-wrap: normal
        word-break: break-word
        white-space: pre
        overflow: auto
        border-radius: 4px
        color: #abb2bf
        background: #282c34
      blockquote
        position relative
        margin: 0
        padding-left: 24px
        background-color: #f6f5f5
        p
          margin: 0
          padding: 12px 0
          text-indent: 0
        &:before
          content: ''
          position: absolute
          top: 0
          left: 0
          height: 100%
          width: 4px
          border-radius: 4px
          background-color: #f17e7e
      a
        color: #3194d0
        &:hover
          text-decoration: underline
      ul
        margin: 0
        padding: 0
      table
        width: 100%
        text-align: left
        border-radius: 4px 4px 0 0
        border-collapse: collapse
        border-spacing: 2px
        border-color: grey
        color: rgba(0,0,0,0.65)
        font-size: 14px
        line-height: 1.5
        thead
          th
            border-top-left-radius: 4px
            padding: 16px 16px
            color: rgba(0,0,0,0.85)
            font-weight: 500
            background: #fafafa
            border-bottom: 1px solid #e8e8e8
            transition: background .3s ease
        tr
          transition: all .3s,height 0s
        tbody
          td
            padding: 16px 16px
            border-bottom: 1px solid #e8e8e8
            transition: background .3s ease
      s
        color: #e16262
      .tooltip
        display: none
        position: absolute
        z-index: 11
        padding: 6px 12px
        width: 56px
        height: 35px
        color: #fff
        background: linear-gradient(to bottom, #796eff 0%, #ff5263 100%)
        border-radius: 4px
        cursor pointer
        p
          text-indent: 0
          margin: 0
        .arrow
          position: absolute
          left: 50%
          display: block
          width: 8.48528137px
          height: 8.48528137px
          background: transparent
          border-width: 4.24264069px
          border-style: solid
          bottom: -4px
          border-top-color: transparent
          border-right-color: #ff5263
          border-bottom-color: #ff5263
          border-left-color: transparent
          transform: translateX(-50%) rotate(45deg)
    .editBox
      position relative
      order 1
      flex: 7
      overflow: scroll
      padding: 16px 24px 12px 48px
      background-color: #1e1e1e
      .numberBox
        position: absolute
        top: 74px
        left: 4px
        width: 20px
        height: 650px
        overflow hidden
        color: #707070
        .number
          span
            display: block
      .editName
        width: 100%
        height: 50px
        font-size: 40px
        border-radius: 8px
        color: #707070
        background-color: #2f2f2f
        border: none
      .editInput
        min-height: 650px
        line-height: 23px
        margin-top: 8px
        color: #fff
        background-color: transparent
