li
  list-style-type: none
a
  text-decoration: none
html
  font-family: 'Noto Serif SC', serif;

  .header
    position: absolute
    top: 0
    left: 0
    z-index: 9
    width: 100%
    border-bottom: 1px solid #f0f0f0

    .title
      margin: 12px 16px
      font-size: 32px
      color: #eb6f5a
  
  .content
    margin-top: 75px
  h1
    color: #dd6b4d