html
  block head
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Serif+SC")
  script(src='js/public.js')
  body
    div.header
      p(onclick="window.location.href='/'").title Md Viewer
      .floatRight
        span.label 切换样式:
        select(onchange=`handleChangeStyle()`)#selectCss
          each item in cssList
            option(value=item, selected=css===item ? true : false)= item
    div.wrapper
      block content
    .modalBg
      .modalBox
        block modal
    block script