html
  block head
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Serif+SC")
  body
    div.header
      p.title Markdown Watcher
      .floatRight
        span.label 切换样式:
        select(onchange=`handleChangeStyle()`)#selectCss
          each item in cssList
            option(value=item, selected=css===item ? true : false)= item
    div.wrapper
      block content
    block script
    script(src='js/event.js')