extends ./layout.pug

block head
  head
    title list
    link(rel="stylesheet", href=`http://127.0.0.1:3000/css/${css}`)
block content
    each item in list
      li
        a(href=`../md?file=${item}&css=${css}`)= item